.resume {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  color: #333;
}

.resume__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.resume__download-button {
  margin: 20px 0;
  button {
    padding: 10px 20px;
    background-color: #8e2de2;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #7324b3;
    }
  }
}
