.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.about-section__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}

.about-section__title .highlight {
  color: #8E2DE2;
  text-transform: uppercase;
}

.about-section__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-section__text {
  flex: 1;
  max-width: 600px;
  margin-right: 50px;
}

.about-section__description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.highlight {
  color: #8E2DE2;
  font-weight: bold;
}

.italic {
  font-style: italic;
}


.about-section__cloud {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.tech {
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgba(142, 45, 226, 0.2);
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: grab;
  transition: transform 0.2s ease;
  user-select: none; 
}

.tech:active {
  cursor: grabbing;
}

.tech--html { font-size: 1.2rem; }
.tech--css { font-size: 1rem; }
.tech--javascript { font-size: 1.4rem; }
.tech--react { font-size: 1.1rem; }
.tech--node { font-size: 1.3rem; }
.tech--git { font-size: 1.2rem; }
.tech--api { font-size: 1.1rem; }
.tech--ux { font-size: 1rem; }

@media (max-width: 768px) {
  .about-section__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-section__text {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .about-section__title {
    font-size: 2rem;
  }

  .about-section__description {
    font-size: 1rem;
  }

  .about-section__cloud {
    max-width: 100%;
    margin-top: 20px;
  }

  .tech {
    font-size: 1rem;
  }
}
